<div class="signup">
  <div class="container-fluid">
    <div class="signupform julia_panel center">
      <div class="signtitle">
        <h3>Sign Up</h3>
      </div>

      <table class="table table-hover form-group">
        <tbody>
          <tr>
            <td><label>E-mail</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>密碼</label></td>
            <td><input class="julia_form" autocomplete="off"></td>
          </tr>

          <tr>
            <td><label>確認密碼</label></td>
            <td><input class="julia_form" autocomplete="off"></td>
          </tr>

          <tr>
            <td><label>姓名</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>性別</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>生日</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>縣市</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>鄉鎮市區</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>地址</label></td>
            <td><input class="julia_form"></td>
          </tr>

          <tr>
            <td><label>手機</label></td>
            <td><input class="julia_form"></td>
          </tr>
        </tbody>
      </table>

        <div class="actions">
          <%= link_to "Sign up", '#' %>
        </div>

    </div>
  </div>
  <%= render "layouts/footer" %>
</div>
