<div class="contact">
  <%= render 'layouts/iconbar' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- <div class="map" id="map" style='position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;'></div> -->
        <div class="map-frame">
          <div class="map" id="map" style='width: 100%; height: 600px;'></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="spacing">
          <div class="top-right">
            <p>THE <strong>JOY</strong> OF A TASTE WHICH HAS <strong>NEVER BEEN LOST</strong></p>
          </div>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script language="javascript" type="text/javascript">
  function initMap() {

    var styles = [
      {
        stylers: [
          { hue: "#ffb3bf" },
          { saturation: -20 }
        ]
      },{
        featureType: "road",
        elementType: "geometry",
        stylers: [
          { lightness: 100 },
          { visibility: "simplified" }
        ]
      },{
        featureType: "road",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      }
    ];

    var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});

    var myLatLng = {lat: 25.0511817, lng: 121.5179373};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 17
    });

    var image = {
      url: 'assets/felice2-01.png',
      size: new google.maps.Size(100, 100),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(150, 70),
      scaledSize: new google.maps.Size(60, 60)
    };

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      icon: image
    });

    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
  }
</script>
