<%= render 'layouts/navbar' %>
  <%#= render 'layouts/iconbar' %>
<div class="felice">
  <%= image_tag ('FELICE123-01.png'), size: '233x31' %>
</div>

<div class="main">
  <div class="carousel">

    <ul class="pane">
      <li>
        <div class="picture_holder bg1">
          <div style="position:relative;height:auto;text-align:center;top:20%; z-index: 1;">
            <h2 class="slogan" style="line-height:28px;">ACCESSORIES</h2>
            <h2 class="slogan" style="line-height:80px;">MAKE YOU</h2>
            <h2 class="slogan bold" style="line-height:28px;">PERFECT</h2>
          </div>
        </div>
      </li>

      <li>
        <div class="picture_holder bg2">
          <div style="position:relative;height:auto;text-align:center;top:20%; z-index: 1;">
            <h2 class="slogan">A</h2>
            <h2 class="slogan" style="line-height:98px;">
              <div class="slogan bold" style="display: inline;">STYLE</div> 
              <div style="display: inline;">FOR</div>
            </h2>
            <h2 class="slogan">EVERY STORY</h2>
          </div>
        </div>
      </li>

      <li>
        <div class="picture_holder bg3">
          <div style="position:relative;height:auto;text-align:center;top:20%; z-index: 1;">
            <h2 class="slogan" style="padding-top: 120px;">DARE TO</h2>
            <h2 class="slogan bold" style="line-height: 98px;">HAND-CRAFT</h2>
          </div>
        </div>
      </li>

      <li>
        <div class="picture_holder bg4">
          <div style="position:relative;height:auto;text-align:center;top:20%; z-index: 1;">
            <h2 class="slogan" style="padding-top: 120px;">EYES OF</h2>
            <h2 class="slogan" style="line-height:98px;">
              <div style="display: inline;">THE</div>
              <div class="slogan bold" style="display: inline;">DIMOND</div>   
            </h2>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>