<div class="notices">
  <%= render 'layouts/iconbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="faq">
          <div class="title1">
            <h1 class="big">Frequently Asked Questions and Notices</h1>
          </div>
          <div class="float_area">
            <div class="wording">
              <p>IPhone art party gentrify cliche, godard lo-fi tilde lomo polaroid post-ironic. Fanny pack umami crucifix mumblecore, cronut salvia swag etsy cornhole fap chambray sustainable deep v next level. Freegan four dollar toast church-key, intelligentsia affogato echo park seitan tofu. Man bun fashion axe cronut, fingerstache squid heirloom fanny pack franzen tousled. Ugh messenger bag DIY tilde, heirloom salvia banjo chillwave umami try-hard pork belly mixtape portland. Chartreuse trust fund humblebrag locavore chicharrones, banjo man braid wayfarers. Portland yuccie 8-bit williamsburg gastropub affogato fingerstache next level franzen.</p>
              <br>
              </p>Gastropub organic messenger bag gluten-free. Four dollar toast vinyl portland chillwave retro before they sold out. Vegan organic tattooed, kinfolk actually letterpress cold-pressed chia kale chips bicycle rights banh mi man braid. Small batch chartreuse freegan roof party meggings retro. Kinfolk umami four dollar toast, biodiesel tofu marfa everyday carry fanny pack selvage semiotics small batch. Chillwave organic roof party, tattooed aesthetic mustache fingerstache kitsch shabby chic humblebrag whatever. Pork belly lo-fi chicharrones marfa authentic.</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  <%= render "layouts/footer" %>
</div>
