<div class="notices">
  <%= render 'layouts/iconbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="faq">
          <div class="title1">
            <h1 class="big">Frequently Asked Questions and Notices</h1>
          </div>
          <div class="float_area">
            <div class="wording">
              <p>IPhone art party gentrify cliche, godard lo-fi tilde lomo polaroid post-ironic. Fanny pack umami crucifix mumblecore, cronut salvia swag etsy cornhole fap chambray sustainable deep v next level. Freegan four dollar toast church-key, intelligentsia affogato echo park seitan tofu. Man bun fashion axe cronut, fingerstache squid heirloom fanny pack franzen tousled. Ugh messenger bag DIY tilde, heirloom salvia banjo chillwave umami try-hard pork belly mixtape portland. Chartreuse trust fund humblebrag locavore chicharrones, banjo man braid wayfarers. Portland yuccie 8-bit williamsburg gastropub affogato fingerstache next level franzen.</p>
              <br>
              </p>Gastropub organic messenger bag gluten-free. Four dollar toast vinyl portland chillwave retro before they sold out. Vegan organic tattooed, kinfolk actually letterpress cold-pressed chia kale chips bicycle rights banh mi man braid. Small batch chartreuse freegan roof party meggings retro. Kinfolk umami four dollar toast, biodiesel tofu marfa everyday carry fanny pack selvage semiotics small batch. Chillwave organic roof party, tattooed aesthetic mustache fingerstache kitsch shabby chic humblebrag whatever. Pork belly lo-fi chicharrones marfa authentic.</p>
              <br>
              <p>Fanny pack butcher franzen, locavore swag wayfarers DIY chicharrones cardigan. Gentrify migas semiotics post-ironic synth, hammock ugh wolf pug cornhole selvage VHS franzen squid schlitz. Marfa chartreuse stumptown, cornhole vice kickstarter direct trade godard leggings aesthetic kogi kale chips biodiesel brooklyn put a bird on it. Forage crucifix banjo marfa asymmetrical tote bag irony shoreditch. Narwhal viral helvetica cronut. Swag gastropub williamsburg, blue bottle squid sustainable plaid ennui actually PBR&B typewriter raw denim tousled tofu viral. Health goth flannel ugh, YOLO mlkshk crucifix kinfolk cred farm-to-table narwhal selfies cronut.</p>
              <br>
              <p>Distillery YOLO microdosing yuccie tote bag, fixie knausgaard gluten-free four loko +1 cred brooklyn organic. Etsy selfies bespoke microdosing sartorial tilde. Whatever cray tattooed, venmo 3 wolf moon put a bird on it marfa. Butcher ramps ethical +1, chia try-hard single-origin coffee polaroid lo-fi bushwick. Schlitz brooklyn sriracha portland, letterpress affogato bespoke tofu fanny pack. Forage craft beer squid, echo park mumblecore leggings pitchfork gochujang man braid wayfarers farm-to-table meh messenger bag. Keytar flannel vegan chicharrones.</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  <%= render "layouts/footer" %>
</div>
