<div class="products">
  <%= render 'layouts/iconbar' %>
  <div class="row">
    <div class="title">
      <p class="big">FELICE JEWELRY</p>
      <p class="small">Online Store</p>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container jumbo-pic">
        <!-- h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p -->
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <br>
        <br>
        <div class="row">
          <div class="col-md-offset-1">
            <div class="col-md-10">
              <br>
              <h3>COLLECTIONS</h3>
              <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
                <li><a>Category 1</a></li>
                <li><a>Category 2</a></li>
                <li><a>Category 3</a></li>
                <li><a>Category 4</a></li>
                <li><a>Category 5</a></li>
                <li><a>Category 6</a></li>
              </ul>
              <br>
              <h3>PRODUCT TYPES</h3>
              <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
                <li><a>Category 1</a></li>
                <li><a>Category 2</a></li>
                <li><a>Category 3</a></li>
                <li><a>Category 4</a></li>
                <li><a>Category 5</a></li>
                <li><a>Category 6</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="product-listing">
            <h3 class="product-tag">PRODUCTS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
