<div class="contents">
  <%= render 'layouts/iconbar' %>
  <div class="container-fluid blank_space">
    <div class="row">
      <%= render 'layouts/left' %>
      <div class="col-md-8 product_holder">
        <div class="row product-listing">

        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
