<div class="products">
  <%= render 'layouts/iconbar' %>
  <div class="row">
    <div class="title">
      <p class="big">FELICE JEWELRY</p>
      <p class="small">Online Store</p>
    </div>
    <!-- <div class="jumbotron jumbotron-fluid">
      <div class="container jumbo-pic">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div> -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <br>
        <br>
        <div class="row">
          <div class="col-md-offset-1">
            <div class="col-md-10">
              <br>
              <h3>COLLECTIONS</h3>
              <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
                <li><a>Category 1</a></li>
                <li><a>Category 2</a></li>
                <li><a>Category 3</a></li>
                <li><a>Category 4</a></li>
                <li><a>Category 5</a></li>
                <li><a>Category 6</a></li>
              </ul>
              <br>
              <h3>PRODUCT TYPES</h3>
              <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
                <li><a>Category 1</a></li>
                <li><a>Category 2</a></li>
                <li><a>Category 3</a></li>
                <li><a>Category 4</a></li>
                <li><a>Category 5</a></li>
                <li><a>Category 6</a></li>
              </ul>
              <br>
              <h3>BEST SELLERS</h3>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-box paddingzero">
                <div class="row">
                  <div class="col-md-6">
                    <%= image_tag("csegg.png", size: '120x120', class: "image") %>
                  </div>
                  <div class="col-md-6">
                    <div class="box-wording">
                      <p>This is awesome. This is awesome. This is awesome.</p>
                      <h3>$500.00</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="product-listing">
            <h3 class="product-tag">PRODUCTS</h3>
          </div>
          <div class="tag product-listing">
            <p>
              <button type="button" class="btn btn-default nav-btn">All</button>
              <button type="button" class="btn btn-default nav-btn">Choice1</button>
              <button type="button" class="btn btn-default nav-btn">Choice2</button>
              <button type="button" class="btn btn-default nav-btn">Choice3</button>
            </p>
          </div>
          <div class="product-listing">
            <p class="">Sort By
              <!-- <select name="sort_by" id="sort_by" class="sort-by form-control">
                <option value="manual">Featured</option>
                <option value="best-selling">Best Selling</option>
                <option value="title-ascending">Name: A-Z</option>
                <option value="title-descending">Name: Z-A</option>
                <option value="price-ascending">Price: Low to High</option>
                <option value="price-descending">Price: High to Low</option>
                <option value="created-ascending">Oldest to Newest</option>
                <option value="created-descending">Newest to Oldest</option>
              </select> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
