@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:300);

@font-face{
  font-family: 'FuturaT_Bold';
  src: url('/assets/FuturaT_Bold.ttf');
  font-weight:normal;
  font-style:normal;
}

::-webkit-scrollbar{display:none;};

html{-webkit-font-smoothing: antialiased;}

body{margin:0;}

#cube{
  transition: transform 1s;
  /*transform: translateZ(-100px);*/
}

#cube figure{
  margin:0;
  width:100%;
  height:100%;
  display:block;
  position:absolute;
}

#cube .front  {transform:rotateX(   0deg) translateZ(50vw);}
#cube .back   {transform:rotateX( 180deg) translateZ(50vw);}
#cube .right  {transform:rotateY(  90deg) translateZ(50vw);}
#cube .left   {transform:rotateY( -90deg) translateZ(50vw);}
#cube .top    {transform:rotateX(  90deg) translateZ(50vw);}
#cube .bottom {transform:rotateX( -90deg) translateZ(50vw);}

#cube.show-front  {transform:translateZ(-100px) rotateX(   0deg);}
#cube.show-back   {transform:translateZ(-100px) rotateX( 180deg);}
#cube.show-right  {transform:translateZ(-100px) rotateY( -90deg);}
#cube.show-left   {transform:translateZ(-100px) rotateY(  90deg);}
#cube.show-top    {transform:translateZ(-100px) rotateX( -90deg);}
#cube.show-bottom {transform:translateZ(-100px) rotateX(  90deg);}

.isHome{bottom: 90px;}

.header{
  position: absolute;
  z-index: 2;

  .logo {
    /*padding-left: 30px;*/
    margin-bottom: -20px;

  }

  .logo > img {
    /*left: 42px !important;*/
  }

  .nav {
    display: inline-block;
    background: transparent;
    text-align: center;
    margin: 0 2px;
    padding: 20px 36px;
    color: white;
    letter-spacing: 2px;
    border: 1px solid;
    border-color: transparent;
    text-decoration: none;
    transition: .5s;
  }

  .nav-rest:hover {
    color: #ff6666 !important;
    border: 1px solid;
    border-color: #ff6666;
  }

  .navul {
    width: 100vw;
    padding: 0;
    text-shadow: 2px 2px 2px black;
    list-style: none;

    .active {
      img {
        opacity: 1;
      }
    }
  }

  .navul li {
    display: inline;
    position: relative;

    img {
      position: absolute;
      top: -160px;
      opacity: 0;
      transition: .5s;
    }

    .mainpage_pic {
      left: 10px;
    }

    .about_pic {
      left: -7px;
    }

    .collections_pic {
      left: 3px;
    }

    .jewelry_pic {
      left: -18px;
    }

    .style_pic {
      left: 4px;
    }

    .contact_pic {
      left: 3px;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .navul-icon {
    position: absolute;
    bottom: -70px;
    right: 30px;
    list-style: none;

    .icon-space {
      padding: 2px;
      display: inline;

      .nav-icon {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        text-align: center;
        background: #262626;
        display: table-cell;
        line-height: 0px;
        padding: 10px;
        transition: .5s;
      }

      .nav-icon:hover {
        background: #ff6666 !important;
      }

      .icon {
        font-size: 15px;
        display: block;
        text-align: center;
        width: 12px;
        height: 12px;
        margin: 8px;
        color: #808080;
      }
    }
  }
  .findoutmore {
    border: 1px solid;
    border-color: #ff6666;
    background: #ff6666;

    a{
      text-decoration: none;
      color: white;
    }
  }
  .findoutmore:hover {
    background: #ff6666;

    a{
      color:#1a1a1a;
    }
  }
}

.footer {
  background: #ffb3bf;
  height: 354px;
  width: 100vw;
  vertical-align: middle;
  display: table-cell;

  .list-holder {
    display: table;
    margin: 0 auto;
  }

  .social-icon {
    padding-left: 5px;
  }

  .inline {
    display: table-cell;
    vertical-align: middle;
  }

  .disin {
    display: inline;
  }

  .footer-icon , .footer-text {
    list-style: none;
  }

  .footer-icon {
    > li {
      border-radius: 50%;
      margin: 11px;
    }

    a {
      &:before {
        content: "";
        background: #ff9999;
        text-align: center;
        position: absolute;
        width: 36px;
        height: 36px;
        transform: scale(0);
        transition: .5s;
        top: 0;
        left: 0;
        border-radius: 50%;
      }

      &:hover:before {
        transform: scale(1);
        z-index: 0;
      }
    }

    .icon {
      border: solid 2px #660000;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      width: 40px;
      height: 40px;
      color: #660000;
      text-decoration: none;
      position: relative;
      transition: .5s;

      i:before {
        z-index: 1;
        position: relative;
      }
    }
    .icon:hover {
      color: white;
    }
  }

  .footer-text {
    font-size: 34px;
    line-height: 32px;
    font-family: lato;
    font-weight: 300;
    color: #660000;

    .opentime {
      font-weight: 700;
      color: white;
    }
  }
}

.iconbar{
  .iconbutton{
    z-index: 100;
    width: 400px;
    height: 100px;
    left: 10px;
    top: 10px;
    position: fixed;
    cursor: pointer;
  }

  .bar-top,.bar-left,.bar-right,.bar-bottom {background-color: #ffb3bf; position: fixed; z-index:10;}
  .bar-top {height: 10px; width: 100%;}
  .bar-left {height: 100%; width: 10px;}
  .bar-right {height: 100%; width: 10px; right:0px;}
  .bar-bottom {height: 10px; width: 100%; bottom:0px;}
  .menu-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: none;
  }

  .menu-black-box {
    transition: .5s;
    background: black;
    width: 100vw;
    height: 100vh;
    margin: 10px;
    position: fixed;
    /*visibility: hidden;*/
    opacity: 0;
  }

  .menu-blackbox-active {
    visibility: visible;
    opacity: 0.5;
  }

  .menu-list {
    vertical-align: middle;
    display: table-cell;
    transition: .5s;
    position: relative;
    visibility: hidden;
    text-align: center;
    left: 50%;
    z-index: 3;
    opacity: 0;
    margin: 10px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    list-style: none;
    font-family: helvetica;
  }

  .menu-list-active {
    opacity: 1;
    z-index: 15;
    visibility: visible;
  }

  .menu-list > h2 {
    margin: 60px 0;
    opacity: 1 !important;
    z-index: 16;
  }

  .menu-list > h2 > a {
    text-decoration: none;
    padding-bottom: 5px;
    /*border-bottom: 3px solid #ff6666;*/
    color: #ff3352;
    font-size: 30px;
    font-weight: 500;
    transition: .5s;
    text-shadow:2px 2px 2px black;
    opacity: 1;
  }

  .menu-list > h2 > a:hover{
    color: #ffb3bf;
  }

  .watermark {
    background: url('watermark-gray.png') no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    transition: .5s;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    top: 0;
}

  .watermark-active {
    opacity: .4;
  }
}

.main{
  /*background-color: #ff6666;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*position: absolute;*/
  overflow: hidden;
  .carousel {
    /*margin: 10px;*/
    display: block;
    vertical-align: top;
    overflow: hidden;
    .pane {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 400%;
      position: relative;
      overflow: hidden;
      -moz-animation: carousel 30s infinite;
      -webkit-animation: carousel 30s infinite;
      animation: carousel 30s infinite;
    }
    .pane > li {
      display: inline-flex;
      position: relative;
      float: left;
      width: 25%;
    }
/*    .carousel img {
      display: block;
      width: 100%;
      max-width: 100%;
    }*/
    .bg1{background:linear-gradient(to bottom, transparent 50%, black 100%), url('picture1.jpg');}
    .bg2{background:linear-gradient(to bottom, transparent 50%, black 100%), url('picture2.jpg');}
    .bg3{background:linear-gradient(to bottom, transparent 50%, black 100%), url('picture3.jpg');}
    .bg4{background:linear-gradient(to bottom, transparent 50%, black 100%), url('picture4.jpg');}
    .picture_holder{
      background-blend-mode: darken;
      width: 100%;
      height: 100vh;
      /*background-attachment: fixed;*/
      background-position: center;
      background-size: cover;
      background-repeat: none;
      .slogan{
        z-index: 1;
        color: white;
        font-weight: 100;
        font-family: 'Helvetica';
        text-align: center;
        margin: 0;
        font-size: 70px;
        position: relative;
        letter-spacing: 5px;
        line-height: 20px;
      }
      .bold{
        font-weight: 900;
        font-family: 'Helvetica';
        letter-spacing: 1px;
      }
    }
  }
}

.about{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .about_pic{
    background: url('sleeping.jpg') no-repeat 50% 50%;
    background-size: cover;
    overflow: scroll;
    width: 100%;
    height: 100%;

    > p {
      position: absolute;
      margin: 0;
      top: 60%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%,-50%);
      color: white;
      font-size: 80px;
      font-weight: 300;
    }

    > div {
      position: absolute;
      margin: 0;
      bottom: 5%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%,-50%);
      color: #ffb3bf;
      font-size: 20px;
      font-weight: 500;
      border: solid 1px #ffb3bf;
      padding: 11px 26px;
      cursor: pointer;

      &:hover {
        .circle_holder {
          .circle {
            transform: scale(1);
          }
        }

        p {
          color: #333333;
        }
      }

      p {
        margin: 0;
        transition: .5s;
      }

      .circle_holder {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        .circle {
          width: 250px;
          height: 250px;
          background: #ffb3bf;
          border-radius: 50%;
          top: -70px;
          left: -20px;
          position: absolute;
          z-index: -1;
          transform: scale(0);
          transition: .5s;
        }
      }
    }
  }

  .pic-left > img {
    width: 100%;
    height: auto;
  }

  .pic-right > img {
    width: 100%;
    height: auto;
  }

  .pic > img {
    width: 100%;
    height: auto;
  }

  .word-box {
    vertical-align: middle;
    padding-top: 191px;
    padding-bottom: 191px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Lato';
    /*padding:50px;*/
  }

  .wording-big  {     /*the possible repetitive attributes should be under the same class*/
    margin: 0 150px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 40px;
    line-height: 44px;
  }

  .wording-normal {
    margin: 0 120px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
  }


  .word-box2 {
    /*padding:50px;*/
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Lato';
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 26px;
    /*padding:50px;*/
  }

  .word-box3 {
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Lato';
    vertical-align: middle;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .word-box2 > h3{
    margin: 50px;
    font-weight: 300;
    font-family: 'Lato';
    font-size: 20px;
    line-height: 26px;
  }

  .pink_background {
    position: relative;
    background: #ffb3bf;
    overflow: hidden;

    .box_bottom_zero {
      margin-bottom: 0;
    }

    .box_above ,.box_below {
      opacity: 0;
      transition: 1.5s;
    }

    .box_above {
      -webkit-transform: translate3d(0,-100px,0);
      transform: translate3d(0,-100px,0);
    }

    .box_below {
      -webkit-transform: translate3d(0,100px,0);
      transform: translate3d(0,100px,0);
    }

    .active {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
}

/*.aboutscrollbar::-webkit-scrollbar{display:initial;};*/

.center {
  text-align: center;
}

.paddingzero {
  padding-left: 0;
  padding-right: 0;
}

.felice {
  margin: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.upper-row {
  font-family: 'Lato';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.downer-row {
  font-family: 'Lato';
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-info {
  padding-top: 30px;
  color: #660000;
}

.disin {
  padding: 0 15px;
}

@keyframes fadeIn {
  0.00% { z-index: 0; }
  0.01% { z-index: 9; }
  100%  { z-index: 9; }
}

@keyframes fadeOut {
  0.00% { z-index: 9; }
  99.9% { z-index: 0; }
  100%  { z-index: 0; }
}

@keyframes carousel {
  0.00% { left:0; }
  7.7%  { left:0; }
  15.4% { left:-100%; }
  23.1% { left:-100%; }
  30.8% { left:-200%; }
  38.5% { left:-200%; }
  46.2% { left:-300%; }
  53.9% { left:-300%; }
  61.6% { left:-200%; }
  69.3% { left:-200%; }
  77.0% { left:-100%; }
  84.7% { left:-100%; }
  92.4% { left:0; }
  100%  { left:0; }
/*0% { left:-300%; }
100% { left:-300%; }*/
}

.contact{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffb3bf;
}

.spacing {
  margin-right: 10px;
  overflow: hidden;
}

.word-box {
  vertical-align: middle;
  padding-top: 191px;
  padding-bottom: 191px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Lato';
  /*padding:50px;*/
}

.top-right{
  width: 50vw;
  height: 50vh;
  position: relative;


  > p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Lato';
  }
}
