<div class="footer">
  <div class="list-holder">
    <div class="inline">
      <%= image_tag ('felice-01.png'), size:'135x135' %>
    </div>

    <div class="inline social-icon">
      <ul class="footer-icon">
        <li>
          <%= link_to 'https://www.facebook.com', class:"icon" do %>
            <i class="fa fa-facebook fa-fw fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://twitter.com/', class:"icon" do %>
            <i class="fa fa-twitter fa-fw fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.google.com', class:"icon" do %>
            <i class="fa fa-google fa-fw fa-lg"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="inline">
      <ul class="footer-text">
        <li>
          OPENING HOURS
        </li>
        <li class="opentime">
          8.00 AM/12.00 PM
        </li>
        <li>
          365 DAYS
        </li>
      </ul>
    </div>
  </div>
  <div class="center footer-info">
    <div class="upper-row">
      <div class="disin">3F., No.46, Sec. 1, Chengde Rd., Datong Dist., Taipei City 103, Taiwan</div>
      <div class="disin">P : 0939-907-773</div>
      <div class="disin">P : 0909-136-470</div>
    </div>
    <div class="downer-row">
      <div class="disin">E-mail : charmianwei@gmail.com</div>
      <div class="disin">FELICE STORE</div>
    </div>
  </div>
</div>
