<div class="col-md-4">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3><strong>COLLECTIONS</strong></h3>
      <ul class="nav nav-pills nav-stacked nav-btn">
        <li><a>Category 1</a></li>
        <li><a>Category 2</a></li>
        <li><a>Category 3</a></li>
        <li><a>Category 4</a></li>
        <li><a>Category 5</a></li>
        <li><a>Category 6</a></li>
      </ul>
      <br>
      <h3><strong>PRODUCT TYPES</strong></h3>
      <ul class="nav nav-pills nav-stacked nav-btn">
        <li><a>Category 1</a></li>
        <li><a>Category 2</a></li>
        <li><a>Category 3</a></li>
        <li><a>Category 4</a></li>
        <li><a>Category 5</a></li>
        <li><a>Category 6</a></li>
      </ul>
      <br>
      <div class="product_row">
        <h3><strong>BEST SELLERS</strong></h3>
        <% 3.times do %>
          <div class="product-box paddingzero">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag("csegg.png", size: '120x120', class: "image") %>
              </div>
              <div class="col-md-6 product_text">
                <div class="box-wording">
                  <p>This is awesome. This is awesome. This is awesome.</p>
                  <h3>$500.00</h3>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
