<div class="col-md-4">
  <br>
  <br>
  <div class="row">
    <div class="col-md-offset-1">
      <div class="col-md-10">
        <br>
        <h3>Collections</h3>
        <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
          <li><a>Category 1</a></li>
          <li><a>Category 2</a></li>
          <li><a>Category 3</a></li>
          <li><a>Category 4</a></li>
          <li><a>Category 5</a></li>
          <li><a>Category 6</a></li>
        </ul>
        <br>
        <h3>Product Types</h3>
        <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
          <li><a>Category 1</a></li>
          <li><a>Category 2</a></li>
          <li><a>Category 3</a></li>
          <li><a>Category 4</a></li>
          <li><a>Category 5</a></li>
          <li><a>Category 6</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</div>
